### Agenda

Al comenzar la práctica pedir que busquen un ejemplo
 de modelo fácil para probar
Que arranquen una notebook o entorno para ir probando lo mismo
que voy mostrando (va a ser fácil de seguir, que lo intenten)

1. ejemplo de serializar lista
- usamos el with en lugar de open()
2. deserializar lista
3. ejemplo de serializar csv
4. deserializar y usar csv
5. construimos las funciones de serializar y deserializar
6. repetimos el ejemplo del csv

7. Mostrar el modelo de ElasticNet
8. Serializarlo y deserializarlo

9. Ejemplo sencillo de post request (ojo la URL, hacer ipconfig y poner la ip correcta por ejemplo 192.168.64.1)

### Creamos una lista y la serializamos

In [2]:
import pickle

lista_nombres=["Dino", "Saurio", "Pepa", "Pig"]

archivo_binario = open("lista_nombres", "wb")

pickle.dump(lista_nombres, archivo_binario)

archivo_binario.close()

In [3]:
archivo = open("lista_nombres", "rb")

lista = pickle.load(archivo)

print(lista)

['Dino', 'Saurio', 'Pepa', 'Pig']

### Otro ejemplo. Leer un CSV y serializarlo. Enviarlo al chat para que lo usen

In [7]:
import pickle
import pandas as pd

notas_examen = pd.read_csv("StudentsPerformance.csv")

# mostrar el csv
print(notas_examen)

notas_binario = open("StudentsPerformance.pkl", "wb")

pickle.dump(notas_examen, notas_binario)

archivo_binario.close()

     gender race/ethnicity parental level of education         lunch  \
0    female        group B           bachelor's degree      standard
1    female        group C                some college      standard
2    female        group B             master's degree      standard
3      male        group A          associate's degree  free/reduced
4      male        group C                some college      standard
5    female        group B          associate's degree      standard
6    female        group B                some college      standard
7      male        group B                some college  free/reduced
8      male        group D                 high school  free/reduced
9    female        group B                 high school  free/reduced
10     male        group C          associate's degree      standard
11     male        group D          associate's degree      standard
12   female        group B                 high school      standard
13     male        group A                some college      standard
14   female        group A             master's degree      standard
15   female        group C            some high school      standard
16     male        group C                 high school      standard
17   female        group B            some high school  free/reduced
18     male        group C             master's degree  free/reduced
19   female        group C          associate's degree  free/reduced
20     male        group D                 high school      standard
21   female        group B                some college  free/reduced
22     male        group D                some college      standard
23   female        group C            some high school      standard
24     male        group D           bachelor's degree  free/reduced
25     male        group A             master's degree  free/reduced
26     male        group B                some college      standard
27   female        group C           bachelor's degree      standard
28     male        group C                 high school      standard
29   female        group D             master's degree      standard
..      ...            ...                         ...           ...
970  female        group D           bachelor's degree      standard
971    male        group C            some high school      standard
972  female        group A                 high school  free/reduced
973  female        group D                some college  free/reduced
974  female        group A                some college      standard
975  female        group C                some college      standard
976    male        group B                some college  free/reduced
977    male        group C          associate's degree      standard
978    male        group D                 high school      standard
979  female        group C          associate's degree      standard
980  female        group B                 high school  free/reduced
981    male        group D            some high school      standard
982    male        group B            some high school      standard
983  female        group A                some college      standard
984  female        group C            some high school      standard
985    male        group A                 high school      standard
986  female        group C          associate's degree      standard
987    male        group E            some high school      standard
988  female        group A            some high school  free/reduced
989  female        group D                some college  free/reduced
990    male        group E                 high school  free/reduced
991  female        group B            some high school      standard
992  female        group D          associate's degree  free/reduced
993  female        group D           bachelor's degree  free/reduced
994    male        group A                 high school      standard
995  female        group E             master's degree      standard
996    male        group C                 high school  free/reduced
997  female        group C                 high school  free/reduced
998  female        group D                some college      standard
999  female        group D                some college  free/reduced

    test preparation course  math score  reading score  writing score
0                      none          72             72             74
1                 completed          69             90             88
2                      none          90             95             93
3                      none          47             57             44
4                      none          76             78             75
5                      none          71             83             78
6                 completed          88             95             92
7                      none          40             43             39
8                 completed          64             64             67
9                      none          38             60             50
10                     none          58             54             52
11                     none          40             52             43
12                     none          65             81             73
13                completed          78             72             70
14                     none          50             53             58
15                     none          69             75             78
16                     none          88             89             86
17                     none          18             32             28
18                completed          46             42             46
19                     none          54             58             61
20                     none          66             69             63
21                completed          65             75             70
22                     none          44             54             53
23                     none          69             73             73
24                completed          74             71             80
25                     none          73             74             72
26                     none          69             54             55
27                     none          67             69             75
28                     none          70             70             65
29                     none          62             70             75
..                      ...         ...            ...            ...
970                    none          89            100            100
971               completed          78             72             69
972               completed          53             50             60
973                    none          49             65             61
974                    none          54             63             67
975               completed          64             82             77
976               completed          60             62             60
977                    none          62             65             58
978               completed          55             41             48
979                    none          91             95             94
980                    none           8             24             23
981                    none          81             78             78
982               completed          79             85             86
983               completed          78             87             91
984                    none          74             75             82
985                    none          57             51             54
986                    none          40             59             51
987               completed          81             75             76
988                    none          44             45             45
989               completed          67             86             83
990               completed          86             81             75
991               completed          65             82             78
992                    none          55             76             76
993                    none          62             72             74
994                    none          63             63             62
995               completed          88             99             95
996                    none          62             55             55
997               completed          59             71             65
998               completed          68             78             77
999                    none          77             86             86

[1000 rows x 8 columns]

In [8]:
archivo = open("StudentsPerformance.pkl", "rb")

notas = pickle.load(archivo)

print(notas)

     gender race/ethnicity parental level of education         lunch  \
0    female        group B           bachelor's degree      standard
1    female        group C                some college      standard
2    female        group B             master's degree      standard
3      male        group A          associate's degree  free/reduced
4      male        group C                some college      standard
5    female        group B          associate's degree      standard
6    female        group B                some college      standard
7      male        group B                some college  free/reduced
8      male        group D                 high school  free/reduced
9    female        group B                 high school  free/reduced
10     male        group C          associate's degree      standard
11     male        group D          associate's degree      standard
12   female        group B                 high school      standard
13     male        group A                some college      standard
14   female        group A             master's degree      standard
15   female        group C            some high school      standard
16     male        group C                 high school      standard
17   female        group B            some high school  free/reduced
18     male        group C             master's degree  free/reduced
19   female        group C          associate's degree  free/reduced
20     male        group D                 high school      standard
21   female        group B                some college  free/reduced
22     male        group D                some college      standard
23   female        group C            some high school      standard
24     male        group D           bachelor's degree  free/reduced
25     male        group A             master's degree  free/reduced
26     male        group B                some college      standard
27   female        group C           bachelor's degree      standard
28     male        group C                 high school      standard
29   female        group D             master's degree      standard
..      ...            ...                         ...           ...
970  female        group D           bachelor's degree      standard
971    male        group C            some high school      standard
972  female        group A                 high school  free/reduced
973  female        group D                some college  free/reduced
974  female        group A                some college      standard
975  female        group C                some college      standard
976    male        group B                some college  free/reduced
977    male        group C          associate's degree      standard
978    male        group D                 high school      standard
979  female        group C          associate's degree      standard
980  female        group B                 high school  free/reduced
981    male        group D            some high school      standard
982    male        group B            some high school      standard
983  female        group A                some college      standard
984  female        group C            some high school      standard
985    male        group A                 high school      standard
986  female        group C          associate's degree      standard
987    male        group E            some high school      standard
988  female        group A            some high school  free/reduced
989  female        group D                some college  free/reduced
990    male        group E                 high school  free/reduced
991  female        group B            some high school      standard
992  female        group D          associate's degree  free/reduced
993  female        group D           bachelor's degree  free/reduced
994    male        group A                 high school      standard
995  female        group E             master's degree      standard
996    male        group C                 high school  free/reduced
997  female        group C                 high school  free/reduced
998  female        group D                some college      standard
999  female        group D                some college  free/reduced

    test preparation course  math score  reading score  writing score
0                      none          72             72             74
1                 completed          69             90             88
2                      none          90             95             93
3                      none          47             57             44
4                      none          76             78             75
5                      none          71             83             78
6                 completed          88             95             92
7                      none          40             43             39
8                 completed          64             64             67
9                      none          38             60             50
10                     none          58             54             52
11                     none          40             52             43
12                     none          65             81             73
13                completed          78             72             70
14                     none          50             53             58
15                     none          69             75             78
16                     none          88             89             86
17                     none          18             32             28
18                completed          46             42             46
19                     none          54             58             61
20                     none          66             69             63
21                completed          65             75             70
22                     none          44             54             53
23                     none          69             73             73
24                completed          74             71             80
25                     none          73             74             72
26                     none          69             54             55
27                     none          67             69             75
28                     none          70             70             65
29                     none          62             70             75
..                      ...         ...            ...            ...
970                    none          89            100            100
971               completed          78             72             69
972               completed          53             50             60
973                    none          49             65             61
974                    none          54             63             67
975               completed          64             82             77
976               completed          60             62             60
977                    none          62             65             58
978               completed          55             41             48
979                    none          91             95             94
980                    none           8             24             23
981                    none          81             78             78
982               completed          79             85             86
983               completed          78             87             91
984                    none          74             75             82
985                    none          57             51             54
986                    none          40             59             51
987               completed          81             75             76
988                    none          44             45             45
989               completed          67             86             83
990               completed          86             81             75
991               completed          65             82             78
992                    none          55             76             76
993                    none          62             72             74
994                    none          63             63             62
995               completed          88             99             95
996                    none          62             55             55
997               completed          59             71             65
998               completed          68             78             77
999                    none          77             86             86

[1000 rows x 8 columns]

### Creamos una función para serializar objetos

In [9]:
def serializar(objeto_a_serializar, nombre_del_archivo):
    _ret = 0
    try:
        with open(nombre_del_archivo, "wb") as archivo_en_disco:
            pickle.dump(objeto_a_serializar, archivo_en_disco)
            _ret = 0
    except Exception as e:
        print('Error!',e)
        _ret = 1
    return _ret
   
def deserializar(nombre_del_archivo):
    _ret = ''
    try:
        with open(nombre_del_archivo, "rb") as archivo_en_disco:
            objeto_a_deserializar = pickle.load(archivo_en_disco)
            _ret = objeto_a_deserializar
    except Exception as e:
        print('Error!',e)
        _ret = ''
    return _ret

In [10]:
import pickle
import pandas as pd

notas_examen = pd.read_csv("StudentsPerformance.csv")

serializar(notas_examen, "StudentsPerformance.pkl")

0

In [12]:
import pickle
import numpy as np
from flask import Flask, jsonify, request

data = { "model" : "math",
        "dummies": ["1", "0", "1", "0", "0", "0", "0", "1", "1", "0", "0", "0", "1", "0", 0, "1", "1"] }

with open('model_math.pkl', 'rb') as f_math:
    
    modelo_matematicas = pickle.load(f_math)

modelo_matematicas

ElasticNetCV(alphas=array([1.000e-03, 1.020e-01, ..., 9.899e+00, 1.000e+01]),
       copy_X=True, cv=4, eps=0.001, fit_intercept=True, l1_ratio=0.5,
       max_iter=1000, n_alphas=100, n_jobs=-1, normalize=False,
       positive=False, precompute='auto', random_state=None,
       selection='cyclic', tol=0.0001, verbose=1)

In [15]:
# reemplazamos los espacios por _ 
df.columns = [x.replace(' ', '_') for x in df.columns]
df.head(4)

,gender,race/ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44

In [16]:
columnas_categoricas = ['gender', 'race/ethnicity', 'parental_level_of_education', 'lunch', 'test_preparation_course']
columnas_respuestas  = ['math_score', 'reading_score', 'writing_score']

df_dummies = pd.get_dummies(df, columns = columnas_categoricas)
df_dummies.sample(4)

,math_score,reading_score,writing_score,gender_female,gender_male,race/ethnicity_group A,race/ethnicity_group B,race/ethnicity_group C,race/ethnicity_group D,race/ethnicity_group E,parental_level_of_education_associate's degree,parental_level_of_education_bachelor's degree,parental_level_of_education_high school,parental_level_of_education_master's degree,parental_level_of_education_some college,parental_level_of_education_some high school,lunch_free/reduced,lunch_standard,test_preparation_course_completed,test_preparation_course_none
686,85,75,68,0,1,0,0,0,0,1,0,0,0,0,1,0,0,1,1,0
215,84,83,75,0,1,0,1,0,0,0,0,0,0,0,0,1,0,1,1,0
6,88,95,92,1,0,0,1,0,0,0,0,0,0,0,1,0,0,1,1,0
378,71,83,77,1,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,1

In [17]:
X = df_dummies.drop(labels = columnas_respuestas, axis=1)

y = df_dummies[[x for x in df_dummies.columns if x in columnas_respuestas]]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33)

In [21]:
# Genero el modelo para matematica
model_math = eNetCv(alphas=np.linspace(0.001, 10, 100), cv = 4, n_jobs=-1, verbose=1)

model_math.fit(X_train, y_train['math_score'])

[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 8 concurrent workers.
................................................................................................................................................................................................................................................................................................................................................................................................................[Parallel(n_jobs=-1)]: Done   4 out of   4 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=-1)]: Done   4 out of   4 | elapsed:    0.0s finished

ElasticNetCV(alphas=array([1.000e-03, 1.020e-01, ..., 9.899e+00, 1.000e+01]),
       copy_X=True, cv=4, eps=0.001, fit_intercept=True, l1_ratio=0.5,
       max_iter=1000, n_alphas=100, n_jobs=-1, normalize=False,
       positive=False, precompute='auto', random_state=None,
       selection='cyclic', tol=0.0001, verbose=1)

In [22]:
X.shape

(1000, 17)

In [23]:
# Pedimos una prediccion
model_math.predict([[0 for x in range(X.shape[1])]])

array([66.01686004])

In [26]:
data = [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]
model_math.predict([data])

array([64.67825308])

In [27]:
import json
json.dumps(data)

'[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]'

In [28]:
serializar(model_math, "model_math.pkl")

0

In [32]:
import pickle
import pandas as pd 

notas_examen = pd.read_csv("StudentsPerformance.csv")

with open("archivo_notas.pkl", "wb") as archivo_notas:
   pickle.dump(notas_examen, archivo_notas)

### FLASK Servidor

In [ ]:
import pickle
import numpy as np
from flask import Flask, jsonify, request

In [34]:
# vamos a cargar uno de los modelos en memoria a partir de un archivo pickle
# el archivo se mantiene abierto solo en el ambito del with, despues del bloque se cierra automaticamente.
with open('model_math.pkl', 'rb') as f_math:
    
    modelo_matematicas = pickle.load(f_math)

Para poner el modelo a disposición, debemos tener en cuenta como vamos a definir la comunicación

En nuestro caso vamos a responder a un POST requests cuyo contenido va a ser un json como este :

{ "model" : "math",

"dummies": ["1", "0", "1", "0", "0", "0", "0", "1", "1", "0", "0", "0", "1", "0", "1", "0", "1"] }

En donde cada posicion de un elemento en el array representa una dummy ordenada.

Para poder trabajar con este json debemos parsear el contenido del post requests (o sea el contenido que nos va a solicitar un potencial cliente).

Vamos a utilizar la funcionalidad dada por la clase requests de flask para tratar la petición.

La clase requests tiene un metodo get_json que permite parsear el contenido de un request especificado como json.

In [36]:
app = Flask('Predictor de examenes')

@app.route('/',methods=['POST'])
def predict():
    
    # obtengo los datos del request post.
    # notar que en este contexto request contiene la informacion 
    # que viene de la peticion externa (el metodo get_json lo transforma en un diccionario)
    data = request.get_json(force=True)
    
    
    # transformamos el dato del json (un array de string) en un array de enteros de numpy
    # para que lo entienda el modelo, notar la forma del array y la transformacion de los tipos de datos
    X_para_prediccion = np.array(data['dummies']).reshape(1, -1).astype('int')
    
    # implementamos una logica en donde elegimos un modelo (podrian ser los otros modelos, lect/escritura)
    if data['model'] == 'math':
        
        # asignamos el array de numpy que nos devuelve una prediccion
        output = modelo_matematicas.predict(X_para_prediccion)
                
        # esta prediccion es un array de un solo elemento
        prediccion = output[0]
        
        # Le damos forma de un diccionario para poder hacer el traspaso a json trivialmente
        output = {'prediccion': prediccion}
        
        # en esta linea, transformamos el diccionario en json con jsonify (funcionalidad de flask)
        # y respondemos el request con un json mediante este return
        # este json es incorporado en el cuerpo de la respuesta
        return jsonify(output)

### Lo ponemos a escuchar

In [38]:
# el puerto 5000 es por default
app.run(host='192.168.0.11', port=5000 ) 
#app.run(host='192.168.0.11', port=5000 ) 
#172.25.112.1
#172.24.128.1

 * Serving Flask app "Predictor de examenes" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://192.168.0.11:5000/ (Press CTRL+C to quit)
192.168.0.11 - - [09/Jun/2021 22:50:21] "POST / HTTP/1.1" 200 -
192.168.0.11 - - [09/Jun/2021 22:50:29] "POST / HTTP/1.1" 200 -
192.168.0.11 - - [09/Jun/2021 22:50:36] "POST / HTTP/1.1" 200 -
192.168.0.11 - - [09/Jun/2021 22:50:49] "POST / HTTP/1.1" 200 -
192.168.0.11 - - [09/Jun/2021 22:51:09] "POST / HTTP/1.1" 200 -

### Código para el request

In [ ]:

    
import json
import requests

url = 'http://172.25.112.1:5000'
#172.24.128.1
#192.168.0.11
#172.25.112.1

data = { "model" : "math",
        "dummies": ["1", "0", "1", "0", "1", "0", "0", "0", "1", "0", "0", "0", "1", "0", 0, "1", "1"] }
    
r = requests.post(url, json.dumps(data))

print(r.json())

### Ejemplo Flask "Hola Mundo"

In [44]:
# Servidor prueba
from flask import Flask, jsonify, request

app = Flask('Prueba')

@app.route('/',methods=['POST'])

def prueba():
    # no hago nada
    return jsonify("Hola Mundo!")

In [45]:
# Lo ponemos a escuchar en el puerto 5001 
app.run(host='192.168.0.11', port=5001 )

 * Serving Flask app "Prueba" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://192.168.0.11:5001/ (Press CTRL+C to quit)
192.168.0.11 - - [10/Jun/2021 08:27:50] "POST / HTTP/1.1" 200 -
192.168.0.11 - - [10/Jun/2021 08:29:08] "POST / HTTP/1.1" 200 -
192.168.0.11 - - [10/Jun/2021 08:29:21] "POST / HTTP/1.1" 200 -
192.168.0.11 - - [10/Jun/2021 08:29:37] "GET /POST= HTTP/1.1" 404 -
192.168.0.11 - - [10/Jun/2021 08:29:47] "GET / HTTP/1.1" 405 -
192.168.0.11 - - [10/Jun/2021 08:29:57] "GET / HTTP/1.1" 405 -

In [ ]:
### Request simple a "Hola Mundo"

In [ ]:
import json
import requests

url = 'http://192.168.0.11:5001'
    
r = requests.post(url)

print(r.json())